@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');


.container {
    max-width: 1440px;
    width: 100%;
    height: 3197px;
    margin: 0 auto;
    background-color: #151515;

}

.insidecontainer {
    width: 80%;
    height: 95%;
    margin: auto;



}

.upperDiv {
    width: 100%;
    height: 700px;
    background-color: #151515;
    border-bottom: solid 1px white;
    position: relative;


}

.headerDiv {
    width: 500px;
    height: 141px;
    background-color: #242424;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.firstdiv {
    max-width: 1440px;
    width: 100%;
    height: 141px;
    background-color: #151515;
    margin: 0 auto;
}

.insidefirstdiv {
    width: 80%;
    height: 100%;
    background-color: #151515;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    width: 172px;
    height: 32px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: white;
}

.ragacDiv {
    width: 60%;
    height: 100%;
    background-color: #242424;
}

.imgDiv {
    width: 500px;
    height: 600px;
    background-color: #242424;
    position: absolute;
    right: 0;
}

.chemisurati {
    width: 100%;
    height: 100%;
    position: absolute;

}

.nicetomeetyou {
    position: absolute;
    top: 50px;
    width: 820px;
    height: 88px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    color: white;
    letter-spacing: 0px;
}

.vector {
    position: absolute;
    top: 126px;
}

.imspan {
    position: absolute;
    top: 140px;
    height: 88px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    color: white;

}

.lashaspan {
    position: absolute;
    top: 140px;
    left: 150px;
    width: 590px;
    height: 100px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    color: white;
    border-bottom: solid #4EE1A0 5px;



}

.textP {
    width: 445px;
    height: 84px;
    position: absolute;
    height: 84px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D9D9D9;
    top: 330px;
}

.contactme {
    position: absolute;
    width: 120px;
    height: 32px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    top: 500px;
    border-bottom: solid #4EE1A0 2px;
}

.contactme2 {
    height: 32px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    top: 500px;
    border-bottom: solid #4EE1A0 2px;
}

.oval {
    position: absolute;
    left: -15%;
    top: 400px;
}

.middleDiv {
    width: 100%;
    height: 450px;
    background-color: #151515;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 70px;

}

.middleinsideDivs {
    width: 300px;
    height: 180px;
    background-color: #151515;
}

.insidemiddledivsP {
    width: 124px;
    height: 56px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
    color: #FFFFFF;
    padding-bottom: 70px;
}

.secondinsidedivsP {

    height: 28px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D9D9D9;
}

.projectDiv {
    width: 100%;
    height: 200px;
    background-color: #151515;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectp {

    width: 334px;
    height: 88px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    color: #FFFFFF;

}

.lastmainDiv {
    width: 100%;
    height: 1700px;
    background-color: #151515;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rectangledivs {
    width: 560px;
    height: 520px;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divforpic {
    width: 100%;
    height: 400px;
    background-color: #151515;
    overflow: hidden;
}

.modernartgallery {
    width: 130%;
    height: 100%;
    margin-left: -80px;
}

#cssspan {
    margin-left: 18px;
}

.suratebissataurebi {

    width: 100%;
    height: 32px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.suratebismeoresataurebi {
    height: 28px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D9D9D9;
}

#javascriptspan {
    margin-left: 18px;
    height: 28px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D9D9D9;
}

#headerdivID {
    background-color: #151515;
    border-top: 1px solid white;
}

#headerdivID1 {
    background-color: #151515;

}

#insidefirstdivID {
    border-top: 1px solid white;
}

#artgalery6 {
    margin-left: -87px;
}

.DivforActive1 {
    display: flex;
    justify-content: space-between;
    width: 60%;
    display: none;
}

.DivforActive2 {
    display: flex;
    justify-content: space-between;
    width: 60%;
    display: none;
}

.DivforActive3 {
    display: flex;
    justify-content: space-between;
    width: 60%;
    display: none;
}

.DivforActive4 {
    display: flex;
    justify-content: space-between;
    width: 60%;
    display: none;
}

.DivforActive5 {
    display: flex;
    justify-content: space-between;
    width: 60%;
    display: none;
}

.DivforActive6 {
    display: flex;
    justify-content: space-between;
    width: 60%;
    display: none;
}

.viewprojectPP {
    color: white;
    display: inline-block;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    gap: 50px;
}

.viewcodePP {
    color: white;
    display: inline-block;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
}







.viewprojectP {
    position: absolute;
    width: 140px;
    height: 26px;
    left: calc(50% - 136px/2 - 1px);
    top: calc(50% - 26px/2 - 50px);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}

.viewcode {
    position: absolute;
    width: 103px;
    height: 26px;
    left: calc(50% - 100px/2 - 1.5px);
    top: 220px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}

.viewprojectP2 {
    position: absolute;
    width: 140px;
    height: 26px;
    left: calc(50% - 136px/2 - 1px);
    top: calc(50% - 26px/2 - 50px);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}

.viewcode2 {
    position: absolute;
    width: 103px;
    height: 26px;
    left: calc(50% - 100px/2 - 1.5px);
    top: 220px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}

.viewprojectP3 {
    position: absolute;
    width: 140px;
    height: 26px;
    left: calc(50% - 136px/2 - 1px);
    top: calc(50% - 26px/2 - 50px);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}

.viewcode3 {
    position: absolute;
    width: 103px;
    height: 26px;
    left: calc(50% - 100px/2 - 1.5px);
    top: 220px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}

.viewprojectP4 {
    position: absolute;
    width: 140px;
    height: 26px;
    left: calc(50% - 136px/2 - 1px);
    top: calc(50% - 26px/2 - 50px);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}

.viewcode4 {
    position: absolute;
    width: 103px;
    height: 26px;
    left: calc(50% - 100px/2 - 1.5px);
    top: 220px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}

.viewprojectP5 {
    position: absolute;
    width: 140px;
    height: 26px;
    left: calc(50% - 136px/2 - 1px);
    top: calc(50% - 26px/2 - 50px);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}

.viewcode5 {
    position: absolute;
    width: 103px;
    height: 26px;
    left: calc(50% - 100px/2 - 1.5px);
    top: 220px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}

.viewprojectP6 {
    position: absolute;
    width: 140px;
    height: 26px;
    left: calc(50% - 136px/2 - 1px);
    top: calc(50% - 26px/2 - 50px);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}

.viewcode6 {
    position: absolute;
    width: 103px;
    height: 26px;
    left: calc(50% - 100px/2 - 1.5px);
    top: 220px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}






@media(max-width:769px) {


    .container {
        height: 2860px;
    }

    .insidecontainer {
        width: 95%;
        /* border-radius: 1px solid white; */

    }

    .upperDiv {
        height: 550px;
        margin-top: -1px;
    }

    .headerDiv {
        background-color: #242424;
        width: 322px;
        padding-right: 25px;
    }

    .insidefirstdiv {
        background-color: #151515;
        width: 100%;
    }

    h1 {
        margin-left: 18px;
    }

    .imgDiv {
        width: 322px;
        height: 480px;
        margin-right: -19.5px;
        overflow: hidden;
    }

    .chemisurati {
        width: 120%;
        margin-left: 0x;
    }

    .nicetomeetyou {
        width: 400px;
        font-size: 70px;
        line-height: 1;
    }

    .vector {
        margin-left: -175px;
        opacity: 20%;
    }

    .imspan {

        top: 110px;
        left: 353px;
        font-size: 70px;
    }

    .lashaspan {
        top: 190px;
        left: 0px;
        font-size: 70px;
        width: 520px;
    }

    .textP {
        width: 420px;
    }

    .contactme {
        top: 447px;

    }

    .oval {
        position: absolute;
        left: 80%;
        top: 350px;

    }

    .middleDiv {
        height: 550px;


    }

    .projectp {
        font-size: 72px;


    }

    .lastmainDiv {
        height: 50%;
        border-bottom: 1px solid white;

    }

    .rectangledivs {
        width: 345px;
        height: 380px;


    }

    .divforpic {
        width: 345px;
        height: 253px;

    }

    #insidefirstdivID {
        border: none;
    }

    #headerdivID {
        border-top: none;
    }

    .DivforActive1 {
        display: flex;
        width: 300px;
        justify-content: space-between;

    }

    .DivforActive2 {
        display: flex;
        width: 300px;
        justify-content: space-between;
    }

    .DivforActive3 {
        display: flex;
        width: 300px;
        justify-content: space-between;
    }

    .DivforActive4 {
        display: flex;
        width: 300px;
        justify-content: space-between;
    }

    .DivforActive5 {
        display: flex;
        width: 300px;
        justify-content: space-between;
    }

    .DivforActive6 {
        display: flex;
        width: 300px;
        justify-content: space-between;
    }

    .modernartgallery {
        margin-left: -50px;
    }

    #artgalery6 {
        margin-left: -55px;
    }
}




@media(max-width:376px) {
    .container {
        height: 4351px;
    }

    .insidecontainer {
        width: 94%;
        height: 100%;
    }

    .upperDiv {
        background-color: #151515;
        height: 650px;
    }

    .headerDiv {
        background: linear-gradient(180deg, rgba(36, 36, 36, 0.0001) 0.65%, #242424 100%);
        width: 50%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        padding-right: 0;
    }

    .firstdiv {
        background-color: #151515;
    }

    .insidefirstdiv {
        background: linear-gradient(180deg, rgba(36, 36, 36, 0.0001) 0.65%, #242424 100%);
        width: 174px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;
    }

    h1 {
        font-size: 24px;
        margin-left: 0;
        
    }

    .ragacDiv {
        display: none;
    }




    .imgDiv {
        position: center;
        width: 174px;
        height: 242px;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        overflow: visible;
       
    }

    .chemisurati {
        /* margin-left: -25px; */
        width: 100%;
        height: 90%;
        margin-top: 25px;
 
        
    }

    .nicetomeetyou {
        width: 343px;
        height: 80px;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -1.13636px;
        top: 270px;
        left: 10px;
       
    }

    .vector {
        margin-left: -250px;
    }

    .imspan {
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -1.13636px;
        top: 315px;
        left: 10px;
        
    }

    .lashaspan {
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -1.13636px;
        top: 315px;
        left: 70px;
        width: 280px;
        height: 50px;
        
    }

    .textP {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        width: 343px;
        height: 78px;
        margin-top: 80px;
        left: 10px;
        
    }

    .contactme {
        width: 120px;
        height: 26px;
        left: calc(50% - 117px/2 - 1.5px);
        margin-top: 80px;
        
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;  
        letter-spacing: 2.28571px;
    }

    .contactme2 {
        display: none;
    }

    .oval {

        left: 220px;
        top: 115px;
       
    }

    .middleDiv {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-content: space-around;
        padding-top: 0px;
        height: 800px;
        border-bottom: 1px solid white;

    }

    .middleinsideDivs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 87px;
        justify-content: space-around;
        align-content: space-around;
        text-align: center;
    }

    .insidemiddledivsP {
        font-size: 32px;
        height: 40px;
        line-height: 40px;
        padding-bottom: 0;
    }

    .secondinsidedivsP {

        font-size: 16px;
    }

    .projectDiv {
        display: none;
    }

    .projectp {

        display: none;
    }

    .lastmainDiv {
        display: none;
    }

    .rectangledivs {
        display: none;
    }

    .divforpic {
        display: none;
    }

    .modernartgallery {
        display: none;
    }

    #cssspan {
        margin-left: 18px;
    }

    .suratebissataurebi {

        display: none;
    }

    .suratebismeoresataurebi {
        display: none;
    }

    #javascriptspan {
        display: none;
    }

    #headerdivID {
        display: none;
    }

    #headerdivID1 {
        display: none;

    }

    #insidefirstdivID {
        display: none;
    }

    #artgalery6 {
        display: none;
    }

}