@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');


.container{
    max-width: 1440px;
    width: 100%;
    height: 3197px;
    margin: 0 auto;
    background-color: #151515;
    /* padding-top: 141px; */
}

.insidecontainer{
    width: 80%;
    height: 95%;
    margin: auto;
   
    

}

.upperDiv{
    width: 100%;
    height: 700px;
    background-color: #151515;
    border-bottom: solid white;
    position: relative;
   

}
.headerDiv{
    width: 500px;
    height: 141px;
    background-color: #242424;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.firstdiv{
    max-width: 1440px;
    width: 100%;
    height: 141px;
    background-color: #151515;
    margin: 0 auto;
}
.insidefirstdiv{
    width: 80%;
    height: 100%;
    background-color: #151515;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    width: 172px;
    height: 32px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: white;
}
.ragacDiv{
    width: 60%;
    height: 100%;
    background-color: #242424;
}
.imgDiv{
    width: 500px;
    height: 600px;
    background-color: #242424;
    position: absolute;
    right: 0;
}
.chemisurati{
    width: 100%;
    height: 100%;
    position: absolute;
    
}
.nicetomeetyou{
    position: absolute;
    top: 50px;
    width: 820px;
    height: 88px;   
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    color: white;
    letter-spacing: 0px;
}
.vector{
    position: absolute;
    top: 126px;
}
.imspan{
    position: absolute;
    top: 140px;
    width: 820px;
    height: 88px;   
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    color: white;
    letter-spacing: 0.4px; 
}
.lashaspan{
    position: absolute;
    top: 140px;
    left: 150px;
    width: 590px;
    height: 100px;   
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    color: white;
    letter-spacing: 0.4px; 
    border-bottom: solid #4EE1A0 5px;
   
    
    
}
.textP{
    width: 445px;
    height: 84px;
    position: absolute;
    height: 84px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D9D9D9;
    top: 330px;
}
.contactme{
    position: absolute;
    width: 120px;
    height: 32px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    top: 500px;
    border-bottom: solid #4EE1A0 2px;
}
.contactme2{
    height: 32px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    top: 500px;
    border-bottom: solid #4EE1A0 2px;
}
.oval{
    position: absolute;
    left: -15%;
    top: 400px;
}
.middleDiv{
    width: 100%;
    height: 450px;
    background-color: #151515;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 70px;

}
.middleinsideDivs{
    width: 300px;
    height: 180px;
    background-color: #151515;
}
.insidemiddledivsP{
    width: 124px;
    height: 56px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
    color: #FFFFFF;
    padding-bottom: 70px;
}
.secondinsidedivsP{

    height: 28px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D9D9D9;
}
.projectDiv{
    width: 100%;
    height: 200px;
    background-color: #151515;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projectp{

    width: 334px;
    height: 88px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    color: #FFFFFF;

}
.lastmainDiv{
    width: 100%;
    height: 1700px;
    background-color: #151515;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.rectangledivs{
    width: 560px;
    height: 480px;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.divforpic{
    width: 100%;
    height: 400px;
    background-color: #151515;
    overflow: hidden;
}
.modernartgallery{
    width: 130%;
    height: 100%;
    margin-left: -80px;
}
#cssspan{
    margin-left: 18px;
}
.suratebissataurebi{
   
    width: 100%;
    height: 32px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
.suratebismeoresataurebi{
    height: 28px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D9D9D9;
}
#javascriptspan{
    margin-left: 18px;
    height: 28px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D9D9D9;
}
#headerdivID{
    background-color: #151515;
    border-top: 1px solid white;
}
#headerdivID1{
    background-color: #151515;

}
#insidefirstdivID{
    border-top: 1px solid white;
}

#artgalery6{
    margin-left: -87px;
}








.viewprojectP{
    position: absolute;
    width: 140px;
    height: 26px;
    left: calc(50% - 136px/2 - 1px);
    top: calc(50% - 26px/2 - 50px);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}

.viewcode{
    position: absolute;
    width: 103px;
    height: 26px;
    left: calc(50% - 100px/2 - 1.5px);
    top: 220px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}

.viewprojectP2{
    position: absolute;
    width: 140px;
    height: 26px;
    left: calc(50% - 136px/2 - 1px);
    top: calc(50% - 26px/2 - 50px);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}

.viewcode2{
    position: absolute;
    width: 103px;
    height: 26px;
    left: calc(50% - 100px/2 - 1.5px);
    top: 220px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}
.viewprojectP3{
    position: absolute;
    width: 140px;
    height: 26px;
    left: calc(50% - 136px/2 - 1px);
    top: calc(50% - 26px/2 - 50px);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}

.viewcode3{
    position: absolute;
    width: 103px;
    height: 26px;
    left: calc(50% - 100px/2 - 1.5px);
    top: 220px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}
.viewprojectP4{
    position: absolute;
    width: 140px;
    height: 26px;
    left: calc(50% - 136px/2 - 1px);
    top: calc(50% - 26px/2 - 50px);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}

.viewcode4{
    position: absolute;
    width: 103px;
    height: 26px;
    left: calc(50% - 100px/2 - 1.5px);
    top: 220px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}
.viewprojectP5{
    position: absolute;
    width: 140px;
    height: 26px;
    left: calc(50% - 136px/2 - 1px);
    top: calc(50% - 26px/2 - 50px);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}

.viewcode5{
    position: absolute;
    width: 103px;
    height: 26px;
    left: calc(50% - 100px/2 - 1.5px);
    top: 220px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}
.viewprojectP6{
    position: absolute;
    width: 140px;
    height: 26px;
    left: calc(50% - 136px/2 - 1px);
    top: calc(50% - 26px/2 - 50px);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}

.viewcode6{
    position: absolute;
    width: 103px;
    height: 26px;
    left: calc(50% - 100px/2 - 1.5px);
    top: 220px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    border-bottom: solid 2px #4EE1A0;
    display: none;
}